<mat-toolbar class="mat-elevation-z2">
  <mat-toolbar-row>
    <span>Tic-Tac-Tech</span>
    <span class="spacer" *ngIf="teams.length <= 0"></span>
    <span class="teams spacer" *ngIf="teams.length > 0">
      Teams:
      <span class="team-list-item" *ngFor="let team of teams">
        {{team.name}} <span *ngIf="team.matches > 0">({{team.matches}})</span>
      </span>
    </span>
    <button mat-raised-button color="primary" (click)="addTeams()" *ngIf="teams.length == 0" >Add Teams</button>
    <button mat-raised-button color="primary" (click)="newMatch()">New Match</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="field">
  <div class="team-container">
    <div *ngIf="currentTeams.length > 0">
      <h3 class="team_name mat-display-1">{{teams[currentTeams[0]].name}}</h3>
      <p class="mat-h2">Won: {{teams[currentTeams[0]].won}}</p>
      <p><button mat-raised-button color="accent" (click)="setActiveTeam('x')">Turn: X</button></p>
      <p><button mat-raised-button color="primary" (click)="teamWon(currentTeams[0])">Winner</button></p>
    </div>
  </div>
  <div class="board">
    <mat-grid-list cols="3" rowHeight="1:1" gutterSize="5px">
      <mat-grid-tile *ngFor="let square of squares; let i = index;" [class.x]="square.won === 'x'" [class.o]="square.won === 'o'" (click)="setSquare(i)">
        <div class="celebrity">
          <div class="celebrity-img">
            <img src="{{square.image}}" />
          </div>
          <h4 class="celebrity-name mat-h1">{{square.celebrity}}</h4>
        </div>
        <div *ngIf="square.won" class="tile-won tile-won_{{square.won}}">
          <span>{{square.won}}</span>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <!-- <div class="grid">
      <div class="grid-tile" *ngFor="let square of squares; let i = index;" [class.x]="square.won === 'x'" [class.o]="square.won === 'o'" (click)="setSquare(i)">

      </div>
    </div> -->
  </div>
  <div class="team-container">
    <div *ngIf="currentTeams.length > 0">
      <h3 class="team_name mat-display-1">{{teams[currentTeams[1]].name}}</h3>
      <p class="mat-h2">Won: {{teams[currentTeams[1]].won}}</p>
      <p><button mat-raised-button color="accent" (click)="setActiveTeam('o')">Turn: O</button></p>
      <p><button mat-raised-button color="primary" (click)="teamWon(currentTeams[1])">Winner</button></p>
    </div>
  </div>
</div>
