
.spacer {
  flex: 1 1 auto;
}

.field {
  display: grid;
  grid-template-columns: 20vw 60vw 20vw;
  width: 100%;
}

.board {
  padding: 5% 15% 0;
}

.team-container {
  align-self: center;
  justify-self: center;
  text-align: center;
}

mat-grid-list {
  background-color: #212121

}

.grid {
  display: grid;
  grid-template-columns: repeat(3, (calc(100% / 3)));
  width: 100%;
  border: 4px solid #000;

  &-tile {
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    position: relative;

    & img {
      object-fit: cover;
    }

    &:nth-child(3n) {
      border-right: 0px;
    }

    &:nth-child(n+7) {
      border-bottom: 0px;
    }
  }
}

.celebrity {
  text-align: center;

  & img {
    object-fit: cover;
  }

  &-name {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1em 0;
    background: rgba(0, 0, 0, 0.5);
    margin: 0;
    color: #fff;
  }

}

.tile-won {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.75);

  & span {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
  }

  &_x {
    &::before, &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 85%;
      background: #000;
    }

    &::after {
      transform: translateY(-50%) rotate(45deg);
    }
    &::before {
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  &_o {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      border: 10px solid #000;
      width: 65%;
      height: 65%;
      border-radius: 100%;
      transform: translate(-50%, -50%);
    }
  }
}
