<mat-toolbar class="mat-elevation-z2">
  <mat-toolbar-row>
    <span>Mystery App</span>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" class="example-icon">New Match</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="field">
  <div class="team-container">
    <h3>Team Name</h3>
    <button mat-raised-button color="accent" (click)="setActiveTeam('x')">X</button>
  </div>
  <div class="board">
    <div class="grid">
      <div class="grid-tile" *ngFor="let square of squares; let i = index;" [class.x]="square.won === 'x'" [class.o]="square.won === 'o'" (click)="setSquare(i)">
        <div class="celebrity">
          <div class="celebrity-img">
            <img src="{{square.image}}" />
          </div>
          <h4>{{square.celebrity}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="team-container">
    <h3>Team Name</h3>
    <button mat-raised-button color="accent" (click)="setActiveTeam('o')">O</button>
  </div>
</div>
